input

  &.wide
    border: 0;
    padding: 20px 20px;
    width: 100%;
    box-sizing: border-box

    &:focus
      outline none
      border none

.btn

  &.btn-link
    outline 0
    border 0

    &:focus
      outline 0
      border 0