input

  &.wide
    border: 0;
    padding: 20px 20px;
    width: 100%;
    box-sizing: border-box

    &:focus
      outline none
      border none

.btn

  svg, span
    vertical-align middle
    color main-second-color
    fill main-second-color

  &.btn-accent
    background accent-first-color
    fill common-second-color
    color common-second-color

    svg, span
      vertical-align middle

  &.btn-round
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 0;

    svg
      fill common-second-color

  &.btn-link
    outline 0
    border 0

    &:focus
      outline 0
      border 0

.btn-action-main
  background accent-first-color
  fill common-second-color
  position fixed
  bottom 25px
  right 25px

.btn-full-width
  button
    float: left;
    width: 50%;
    box-sizing: border-box;
