seed-menu
  display block

  a
    display: block;
    padding: 15px;
    position: relative;
    padding-left: 60px;
    color common-second-color

    &:hover
      text-decoration none
      color common-second-color

    &.active, &:active, &:focus
      text-decoration none
      color common-second-color
      background accent-first-color

    .fa
      fill common-second-color
      position: absolute;
      top: 19px;
      left: 25px;