seed-menu
  display block

  a
    display: block;
    padding: 15px;
    position: relative;
    padding-left: 80px;
    color common-second-color

    &.active, &:active, &:focus
      text-decoration none
      color common-second-color
      background accent-first-color

    .svg-icon
      fill common-second-color
      position: absolute;
      top: 8px;
      left: 25px;