<?xml version='1.0' encoding='utf-8'?>
<widget id="com.word-meaning.com" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Word Meaning</name>
    <description>
        Define meaning word.
    </description>
    <author email="mue.miv@gmail.com">
        Mishchenko Vitalii
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
