<div class="card word-list-item" ng-click="toggleDefinition()" >
    <div class="content">
        <span class="letter">{{firstLetter}}</span>
        <span class="word">{{word.word}}</span>

        <i class="fa fa-arrow-right fa-lg arrow" ng-if="!showDefinition"></i>
        <i class="fa fa-arrow-down fa-lg arrow" ng-if="showDefinition"></i>
    </div>
    <div class="definitions" ng-if="showDefinition">
        <ul>
            <li class="definition" ng-repeat="definition in word.definitions">
                {{definition.text}}
            </li>
        </ul>
    </div>
</div>