@import "themes/default/variables-default.styl";
@import 'partials/all.styl'
@import 'partials/explore.styl'
@import 'partials/mainHeader.styl'

body
  background common-second-color
  font-size main-font-size
  line-height main-line-height