<button ng-click="rememberWord()" class="btn btn-link btn-round btn-color-action btn-action-position-main"
        ng-if="word.definitions.length && (!word.status || word.status == 'new')">
    <svg class="svg-icon">
        <use xlink:href="assets/svg/symbol/svg-sprite.svg#svg-icon-add186"></use>
    </svg>
</button>

<button ng-click="forgetWord()" class="btn btn-success btn-round btn-action-position-main btn-color-success"
        ng-if="word.definitions.length && word.status == 'remembered'">
    <div class="state1">
        <svg class="svg-icon">
            <use xlink:href="assets/svg/symbol/svg-sprite.svg#svg-icon-check52"></use>
        </svg>
    </div>
    <div class="state2">
        <svg class="svg-icon">
            <use xlink:href="assets/svg/symbol/svg-sprite.svg#svg-icon-add186"></use>
        </svg>
    </div>
</button>

<div class="card transparent narrow exploreWordContainer">
    <form ng-submit="onGetDefinition()">
        <input type="text" ng-model="form.word" class="wide exploreWord" placeholder="Explore word">
    </form>
    <button ng-click="clearWord()" class="btn btn-round btn-color-default clearWord" ng-if="form.word">
        <svg class="svg-icon">
            <use xlink:href="assets/svg/symbol/svg-sprite.svg#svg-icon-close47"></use>
        </svg>
    </button>
</div>

<seed-word-definition definition="definition" ng-repeat="definition in word.definitions"></seed-word-definition>

<div ng-if="!word.definitions.length">
    <div class="card">
        No definitions
    </div>
</div>