.exploreWord
  font-size big-font-size
.exploreWordContainer
  border-bottom 1px solid main-third-color
  margin-top: 0;
  padding-bottom: 0;
.saveWordBtn
  background accent-first-color
  fill common-second-color
  position fixed
  bottom 25px
  right 25px