seed-explore
  display block

  .exploreWord
    font-size big-font-size

  .exploreWordContainer
    border-bottom 1px solid main-third-color
    margin-top: 0;
    padding-bottom: 0;
    position relative

  .btn
    &.clearWord
      position absolute
      right 10px
      top 27px
      height: 35px
      width: 35px

      svg
        width 25px