main-font-size = 16px
big-font-size = 20px
super-big-font-size = 30px
main-line-height = 20px

common-first-color = black;
common-second-color = white;
common-third-color = #d7d7d7;
common-fourth-color = #7f7f7f;