<ul>
    <li>
        <a href="#">
            <svg class="svg-icon">
                <use xlink:href="assets/svg/symbol/svg-sprite.svg#svg-icon-search100"></use>
            </svg>
            Search
        </a>
    </li>
    <li>
        <a href="#">
            <svg class="svg-icon">
                <use xlink:href="assets/svg/symbol/svg-sprite.svg#svg-icon-list89"></use>
            </svg>
            List
        </a>
    </li>
    <li>
        <a href="#">
            <svg class="svg-icon">
                <use xlink:href="assets/svg/symbol/svg-sprite.svg#svg-icon-google126"></use>
            </svg>
            Card
        </a>
    </li>
    <li>
        <a href="#">
            <svg class="svg-icon">
                <use xlink:href="assets/svg/symbol/svg-sprite.svg#svg-icon-google132"></use>
            </svg>
            Recent
        </a>
    </li>

</ul>