@import '../common.styl';

//material design colors palette
//http://www.google.com.ua/design/spec/style/color.html#color-color-palette

main-first-color = #263238;
main-second-color = #37474F;
main-third-color = #ECEFF1;

accent-first-color = #EF6C00;
accent-second-color = #36ae47;